<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBC_MsHYgG_G8h4dpsWn2aFH_GwzGulyVE</string>
	<key>GCM_SENDER_ID</key>
	<string>388807946098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tinyleo.com.grammarai</string>
	<key>PROJECT_ID</key>
	<string>grammarai-67eab</string>
	<key>STORAGE_BUCKET</key>
	<string>grammarai-67eab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:388807946098:ios:79a076d034c631e15077eb</string>
</dict>
</plist>